:root{
  --accent-color: #1AB1B7;
  --custom-black: #202020;
  --custom-light-grey: #f5f4f4;
  --small-rounded-radius: 3px;
  --custom-mid-grey: #AAAAAA;
  --categories-grey: #EEEEEE
}

body {
  margin: 0;
  font-family: 'Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea:focus, input:focus{
  outline: none;
}

header{
  border-bottom: solid rgba(0,0,0,0.04) 3px;
}


.bg-custom-black{
  background-color: var(--custom-black);
}

.bg-accent{
  background-color: var(--accent-color);
}

.border-none{
  border: none;
}

.small-rounded-start{
  border-top-left-radius: var(--small-rounded-radius);
  border-bottom-left-radius: var(--small-rounded-radius);
}

.small-rounded-end{
  border-top-right-radius: var(--small-rounded-radius);
  border-bottom-right-radius: var(--small-rounded-radius);
}

.small-rounded{
  border-top-left-radius: var(--small-rounded-radius);
  border-bottom-left-radius: var(--small-rounded-radius);
  border-top-right-radius: var(--small-rounded-radius);
  border-bottom-right-radius: var(--small-rounded-radius);
}

.not-hover-text-black:not(:hover){
  color: var(--custom-black);
}

.hover-text-accent:hover{
  color: var(--accent-color) !important;
}

.hover-border-accent:hover{
  border-color: var(--accent-color) !important;
}

.hover-bg-white:hover{
  background-color: white;
}

.text-accent{
  color: var(--accent-color) !important;
}

.navbar-toggler{
  border: none;
}


.navbar-toggler:focus{
  box-shadow: none !important;
}

.fw-500{
  font-weight: 500;
}

.bg-light-grey{
  background-color: var(--custom-light-grey);
}

.text-mid-grey{
  color: var(--custom-mid-grey);
}

.text-custom-black{
  color: var(--custom-black);
}

.bg-label-grey{
  background-color: rgb(235, 235, 235);
}

.square-shadow{
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
}


.icon-1{
  width: 30px;
}

.vl{
  background-color: var(--custom-light-grey);
  width: 3px;
  height: 1rem;
}

.font-ss{
  font-family: sans-serif;
}

.ar-1p5{
  aspect-ratio: 1.5 / 1;
}

.mw{
  max-width: 800px;
}

.cursor-pointer{
  cursor: pointer;
}

.text-overflow-elipses{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coupon-date{
  width: 175px;
}

.sale-badge{
  width: 97px;
  background-color: #48C78C ;
}

.link {
    text-decoration: none;
}

#coupon-description{
  font-weight: 400;
}

#search-btn{
  font-size: 11px;
}

#search-query{
  width: 500px;
  font-size: 13px;
}
